@{
    ViewData["Title"] = "Developer";
}

<div class="row">
    <div class="col-sm-12">
        <h5>@ViewBag.Title</h5>
    </div>
</div>

<p></p>
<hr />

<div class="row">
    <div class="col-sm-12">
        <div class="card bg-light" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Developer Notes</h5>
                <p class="card-text">View Developer Notes</p>
                <a class="btn btn-primary" asp-area="Developer" asp-controller="DeveloperNotes" asp-action="Index">Go to Developer Notes</a>
            </div>
        </div>
        <p></p>
        <div class="card bg-light" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Permits Generator</h5>
                <p class="card-text">Generate Permits Constants as a csharp file</p>
                <a class="btn btn-primary" asp-area="Developer" asp-controller="PermitsGenerator" asp-action="Index">Go to Permits Generator</a>
            </div>
        </div>
    </div>
</div>

