@{
	ViewData["Title"] = "Developer";
}

<div class="row">
	<div class="col-md-12">
		<h5>@ViewBag.Title</h5>
	</div>
</div>

<p></p>
<hr />

<div class="row">
	<div class="col-md-12">

		<div class="card bg-light" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">Permits Generator</h5>
				<p class="card-text">Generate Permits Constants as a csharp file</p>
				<a class="btn btn-primary" asp-area="Developer" asp-controller="PermitsGenerator" asp-action="Index">Go to Permits Generator</a>
			</div>
		</div>
		<p></p>
		<div class="card bg-light" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">Error Logs</h5>
				<p class="card-text">View Error Logs</p>
				<a class="btn btn-primary" asp-area="Developer" asp-controller="ErrorLog" asp-action="Index">Go to Error Logs</a>
			</div>
		</div>

	</div>
</div>

