@{ ViewData["Title"] = "Generate PermitConstants.cs CSharp file"; }

<div class="row">
	<div class="col-md-12">
		<h5>@ViewBag.Title</h5>
	</div>
</div>

<p></p>
<hr />

<div class="row">
	<div class="col-md-12">

		<h5>Permits Generator</h5>
		<p></p>
		This action will generate PermitConstants.cs file.
		<p></p>
		Only a Developer is allowed to generate this file and that too on a Developers machine (localhost) in Visual Studio.
		<p></p>
		This process this generate a latest PermitConstants CSharp file at c:\temp 
		<p></p>
		This generated file should to be copied to the /CustomCode/Authorize folder and the application recompiled for release.
		<p></p>
		<form asp-action="Index" method="post">
			<input type="submit" value="   Generate Permit Constants   " class="btn btn-primary" />
		</form>

	</div>
</div>

<p></p>
<br />
<br />
<br />

<div class="row">
	<div class="col-md-12">
		<a asp-action="Index">Back to Index</a>
	</div>
</div>