@{
	ViewData["Title"] = "Denied";
}

<h1>Denied</h1>

<p></p>

<div class="row">
	<div class="col-md-12">
		Access is denied.
		<br /><br />
		You do not have permission to view this page. Access to a request can be denied for the following reasons:
		<br />
		1. The user does not have permissin to view this page.
		<br />
		2. The user session must have timeout.
		<br /><br />
		If you were able to view this page earlier. Please login again to view this page, otherwise, you may please request your admin to grant you permissions to view tthis page.
		<br />
	</div>
</div>