@{
	ViewData["Title"] = "Denied";
}

<h1>Denied</h1>

<p></p>

<div class="row">
	<div class="col-md-12">
		Access is denied.
		<br />
		You do not have permission to view this page.
		<br />
	</div>
</div>