@*<ul class="navbar-nav flex-grow-1">
	<li class="nav-item">
		<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
	</li>
	<li class="nav-item">
		<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
	</li>
</ul>*@

<ul class="navbar-nav flex-grow-1">
	<li class="nav-item">
		<a class="nav-link" href="/">Home</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/User">User</a>
	</li>
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="/Permit" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Permit
		</a>
		<div class="dropdown-menu bg-light" aria-labelledby="navbarDropdownMenuLink">
			<a class="dropdown-item" href="#">Action</a>
			<a class="dropdown-item" href="#">Another action</a>
			<a class="dropdown-item" href="#">Something else</a>
		</div>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/User">Role</a>
	</li>
</ul>
