@using BPX.Utils;
@using Newtonsoft.Json;

@{
    if (TempData.ContainsKey("alertBox"))
    {
        AlertBox alertBox = JsonConvert.DeserializeObject<AlertBox>((string)TempData["alertBox"]);

        if (alertBox != null)
        {
            if (alertBox.alertType == (int)AlertType.Success)
            {
                <div class="alert alert-success alert-white rounded" style="xmargin-top:20px;">
                    <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
                    <div class="icon">
                        <i class="fa fa-check fa-lg"></i>
                        &nbsp;&nbsp;&nbsp;<strong>Success!</strong>
                        @alertBox.alertMessage
                    </div>
                </div>
            }
            else if (alertBox.alertType == (int)AlertType.Info)
            {
                <div class="alert alert-info alert-white rounded" style="xmargin-top:20px;">
                    <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
                    <div class="icon">
                        <i class="fa fa-info-circle fa-lg"></i>
                        &nbsp;&nbsp;&nbsp;<strong>Information!</strong>
                        @alertBox.alertMessage
                    </div>
                </div>
            }
            else if (alertBox.alertType == (int)AlertType.Warning)
            {
                <div class="alert alert-warning alert-white rounded" style="xmargin-top:20px;">
                    <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
                    <div class="icon">
                        <i class="fa fa-exclamation-triangle fa-lg"></i>
                        &nbsp;&nbsp;&nbsp;<strong>Warning!</strong>
                        @alertBox.alertMessage
                    </div>
                </div>
            }
            else if (alertBox.alertType == (int)AlertType.Error)
            {                        
                <div class="alert alert-danger alert-white rounded" style="xmargin-top:20px; width:100%">
                    <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
                    <div class="icon">
                        <i class="fa fa-times-circle fa-lg"></i>
                        &nbsp;&nbsp;&nbsp;<strong>Error!</strong>
                        @alertBox.alertMessage
                    </div>
                </div>
            }
        }

        //remove TempData["alertBox"]
        TempData.Remove("alertBox");
    }
}
