@*@if (Context.User.Identity.Name != null)
{
	<li>
		<a class="nav-link" href="/Identity/Account/ChangePassword">Hello @Context.User.Identity.Name!</a>
	</li>
	<li>
		<a class="nav-link" href="/Identity/Account/LogOff">Logout</a>
	</li>
}
else
{
	<li>
		<a class="nav-link" href="/Identity/Account/Register">Register</a>
	</li>
	<li>
		<a class="nav-link" href="/Identity/Account/Login">Login</a>
	</li>
}*@

@Html.Raw(ViewBag.currLoginMenuString)