<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<!-- the targets to write -->
	<targets>
		<!-- write to file -->
		<target name="bpAppLog" xsi:type="File" fileName="C:\temp\bpApplog-${shortdate}.log"
				layout="${longdate}|${uppercase:${level}}|${message}|${exception:format=StackTrace}|${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${logger}|${callsite}" />
	</targets>
	<!-- rules to map from logger name to target -->
	<rules>
		<!-- all logs including Microsoft -->
		<logger name="*" minlevel="Trace" writeTo="bpAppLog" />
	</rules>
</nlog>
