<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<!-- the targets to write -->
	<targets>
		<!-- write to file -->
		<target name="bpxAppLogTarget" xsi:type="File" fileName="C:\ClientSites\viratjetty.com\logs\logsBPXViratJetty\bpxAppLog-${shortdate}.log"
				layout="${longdate}|${uppercase:${level}}|${logger}|${message}|${exception:format=tostring}|${newline}" />	
	</targets>
	<!-- rules to map from logger name to target -->
	<rules>
		<!-- all logs including Microsoft -->
		<logger name="*" minlevel="Warning" writeTo="bpxAppLogTarget" />
	</rules>
</nlog>

<!--
${level}						– Trace, Debug, Info, Warn, Error, Critical
${exception:format=StackTrace}	– Gets the passed exception message
${exception:format=tostring}	– Gets the passed exception message, has message and stacktrace
${logger}						– Gets the related logger name
${newline}						– Adds a new line to the log
${stacktrace}					– Returns the stacktrace
${date}							– Current Date and Time
${hostname}						– Current machine name
${processname}					– Current Process Name
-->
