@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

	<p></p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet luctus venenatis lectus magna fringilla urna porttitor. Non odio euismod lacinia at. Amet volutpat consequat mauris nunc congue nisi vitae. Purus non enim praesent elementum facilisis leo vel fringilla. Imperdiet nulla malesuada pellentesque elit eget gravida. Quisque egestas diam in arcu. Scelerisque in dictum non consectetur a erat. Purus semper eget duis at tellus at urna condimentum mattis. Suscipit adipiscing bibendum est ultricies integer quis auctor elit sed. Egestas sed sed risus pretium quam vulputate dignissim. Ultrices mi tempus imperdiet nulla malesuada pellentesque. 
	<p></p>
	Sagittis nisl rhoncus mattis rhoncus urna neque viverra justo. Neque vitae tempus quam pellentesque nec. In fermentum et sollicitudin ac orci phasellus egestas. Pharetra vel turpis nunc eget. Curabitur gravida arcu ac tortor dignissim convallis aenean et tortor. Vivamus arcu felis bibendum ut tristique et egestas. Amet volutpat consequat mauris nunc congue nisi vitae suscipit. In ornare quam viverra orci. Adipiscing bibendum est ultricies integer quis auctor elit sed. Aliquam nulla facilisi cras fermentum. Mauris pellentesque pulvinar pellentesque habitant. Et malesuada fames ac turpis egestas sed tempus.
	<p></p>
	Nullam vehicula ipsum a arcu cursus vitae congue mauris rhoncus. Massa tempor nec feugiat nisl pretium fusce id. Donec et odio pellentesque diam volutpat commodo. Quisque egestas diam in arcu cursus euismod. Dignissim sodales ut eu sem integer. Commodo sed egestas egestas fringilla. Sit amet nisl suscipit adipiscing bibendum. Id consectetur purus ut faucibus pulvinar elementum integer. In ornare quam viverra orci sagittis. Et ultrices neque ornare aenean euismod elementum nisi. Ipsum a arcu cursus vitae congue mauris rhoncus. Senectus et netus et malesuada fames. Cursus mattis molestie a iaculis at erat. Sed sed risus pretium quam vulputate dignissim suspendisse in. Leo in vitae turpis massa sed elementum tempus.
	<p></p>
	Vitae proin sagittis nisl rhoncus mattis. Sed arcu non odio euismod lacinia at quis. Eleifend mi in nulla posuere sollicitudin aliquam ultrices. Proin libero nunc consequat interdum. Nisl rhoncus mattis rhoncus urna neque. Pulvinar etiam non quam lacus suspendisse. Urna duis convallis convallis tellus. Amet nisl purus in mollis nunc sed. Diam sollicitudin tempor id eu nisl nunc mi ipsum. Ut diam quam nulla porttitor massa. 
	<p></p>

</div>
