@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-9">
        <h5 class="card-title">
            Welcome
        </h5>
        <p class="card-text">
            Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>
        <p></p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet luctus venenatis lectus magna fringilla urna porttitor. Non odio euismod lacinia at. Amet volutpat consequat mauris nunc congue nisi vitae. Purus non enim praesent elementum facilisis leo vel fringilla. Imperdiet nulla malesuada pellentesque elit eget gravida. Quisque egestas diam in arcu. Scelerisque in dictum non consectetur a erat. Purus semper eget duis at tellus at urna condimentum mattis. Suscipit adipiscing bibendum est ultricies integer quis auctor elit sed. Egestas sed sed risus pretium quam vulputate dignissim. Ultrices mi tempus imperdiet nulla malesuada pellentesque.
        <p></p>
        Sagittis nisl rhoncus mattis rhoncus urna neque viverra justo. Neque vitae tempus quam pellentesque nec. In fermentum et sollicitudin ac orci phasellus egestas. Pharetra vel turpis nunc eget. Curabitur gravida arcu ac tortor dignissim convallis aenean et tortor. Vivamus arcu felis bibendum ut tristique et egestas. Amet volutpat consequat mauris nunc congue nisi vitae suscipit. In ornare quam viverra orci. Adipiscing bibendum est ultricies integer quis auctor elit sed. Aliquam nulla facilisi cras fermentum. Mauris pellentesque pulvinar pellentesque habitant. Et malesuada fames ac turpis egestas sed tempus.
        <p></p>
        Nullam vehicula ipsum a arcu cursus vitae congue mauris rhoncus. Massa tempor nec feugiat nisl pretium fusce id. Donec et odio pellentesque diam volutpat commodo. Quisque egestas diam in arcu cursus euismod. Dignissim sodales ut eu sem integer. Commodo sed egestas egestas fringilla.
        <p></p>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">

                <h6 class="card-title" style="margin-bottom:0em;">
                    CFTurbine
                </h6>
                <p class="card-text" style="font-size:14px">                    
                    cf prototyping engine, generates boilerplate code ...
                </p>

                <h6 class="card-title" style="margin-bottom:0em;">
                    Jrun monitor
                </h6>
                <p class="card-text" style="font-size:14px">
                    monitor and auto-restart cf engine to avoid Jrun hang ...
                </p>

                <h6 class="card-title" style="margin-bottom:0em;">
                    Inheritance Config
                </h6>
                <p class="card-text" style="font-size:14px">                 
                    uses OOPs inheritance to create configuration file ...
                </p>

                <h6 class="card-title" style="margin-bottom:0em;">
                    Real Estate App
                </h6>
                <p class="card-text" style="font-size:14px">
                    complete real estate application using MLS data ...
                </p>

                <h6 class="card-title" style="margin-bottom:0em;">
                    Search Engine Lite
                </h6>
                <p class="card-text" style="font-size:14px">
                    create your own search engine for your web site ...
                </p>

            </div>
        </div>
        <p></p>
    </div>
</div>
