@{
    ViewData["Title"] = "Generate Scripts";
}

<div class="row">
    <div class="col-md-12">
        <h5>@ViewBag.Title</h5>
    </div>
</div>

<p></p>
<hr />

<div class="row">
    <div class="col-md-12">
        <a asp-area="Admin" asp-controller="GenerateScripts" asp-action="PermitConstants">Generate Permit Constants</a>
        <br />
    </div>
</div>