@using BPX.Website.CustomCode.Authorize;

@{
    ViewData["Title"] = "Generate PermitConstants.cs CSharp file";
}

<div class="row">
    <div class="col-md-12">
        <h5>@ViewBag.Title</h5>
    </div>
</div>

<p></p>
<hr />

<div class="row">
    <div class="col-md-12">
        <br />
        This action will generate PermitConstants.cs file. <br />
        Only a Developer is allowed to generate this file and that too using Localhost in Visual Studio and the code will need recompilation for release.
        <br />
        <br />

        <form asp-action="PermitConstants" method="post">
            <input type="submit" value="   Generate Permit Constants   " class="btn btn-primary" />
        </form>
    </div>
</div>

<br />
<br />

<div>
    <a asp-action="Index">Back to Index</a>
</div>