@model BPX.Domain.ViewModels.PermitMiniViewModel

@using BPX.Domain.CustomModels;
@using BPX.Website.CustomCode.Authorize;

@{
	ViewData["Title"] = "Create Permit";
}

<div class="row">
	<div class="col-md-12">
		<h5>@ViewBag.Title</h5>
	</div>
</div>

<p></p>
<hr />

<div class="row">
	<div class="col-md-12">
		<form asp-action="Create">
			@*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
			@*<input type="hidden" asp-for="PermitID" />*@
			<div class="row form-group">
				<div class="col-md-2">
					<label asp-for="PermitArea" class="control-label"></label>
				</div>
				<div class="col-md-4 input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"><i class="fa fa-address-book fa-fw"></i></span>
					</div>
					<input asp-for="PermitArea" class="form-control" />
				</div>
				<div class="col-md-6">
					<i class="fa fa-asterisk fa-xs" style="color:red; margin-left:-22px; padding-right:5px; font-size: 0.5rem;" aria-hidden="true"></i>
					<span asp-validation-for="PermitArea" class="text-danger"></span>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-md-2">
					<label asp-for="PermitController" class="control-label"></label>
				</div>
				<div class="col-md-4 input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"><i class="fa fa-capsules fa-fw"></i></span>
					</div>
					<input asp-for="PermitController" class="form-control" />
				</div>
				<div class="col-md-6">
					<i class="fa fa-asterisk fa-xs" style="color:red; margin-left:-22px; padding-right:5px; font-size: 0.5rem;" aria-hidden="true"></i>
					<span asp-validation-for="PermitController" class="text-danger"></span>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-md-2">
					<label asp-for="PermitName" class="control-label"></label>
				</div>
				<div class="col-md-4 input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"><i class="fa fa-at fa-fw"></i></span>
					</div>
					<input asp-for="PermitName" class="form-control" />
				</div>
				<div class="col-md-6">
					<i class="fa fa-asterisk fa-xs" style="color:red; margin-left:-22px; padding-right:5px; font-size: 0.5rem;" aria-hidden="true"></i>
					<span asp-validation-for="PermitName" class="text-danger"></span>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-md-2">
					<label asp-for="PermitEnum" class="control-label"></label>
				</div>
				<div class="col-md-4 input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"><i class="fa fa-align-justify fa-fw"></i></span>
					</div>
					<input asp-for="PermitEnum" class="form-control" />
				</div>
				<div class="col-md-6">
					<i class="fa fa-asterisk fa-xs" style="color:red; margin-left:-22px; padding-right:5px; font-size: 0.5rem;" aria-hidden="true"></i>
					<span asp-validation-for="PermitEnum" class="text-danger"></span>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-md-2">
					&nbsp;
				</div>
				<div class="col-md-4 input-group">
					<input type="submit" value="   Create   " class="btn btn-primary" />
				</div>
				<div class="col-md-6">
					&nbsp;
				</div>
			</div>
		</form>
	</div>
</div>

<div>
	@if (((List<int>)ViewBag.currUserPermitIds).Contains(Permits.Identity.Permit.List) || ((string)ViewBag.currViewBagOverride).Equals("YES-ForcedSet"))
	{
		<a asp-action="Index">Back to List</a>
	}
</div>

@section ScriptsAtBottom
{
	<partial name="_ValidationScriptsPartial" />

	<script type="text/javascript">
		$(document).ready(function () {
			$("#PermitArea").change(function () {
				var inputVal = CapitalizeFirstLetter($(this).val());
				$(this).val(inputVal);
				SetEnumValue();
			});

			$("#PermitController").change(function () {
				var inputVal = CapitalizeFirstLetter($(this).val());
				$(this).val(inputVal);
				SetEnumValue();
			});

			$("#PermitName").change(function () {
				var inputVal = CapitalizeFirstLetter($(this).val());
				$(this).val(inputVal);
				SetEnumValue();
			});
		});

		function SetEnumValue() {
			$("#PermitEnum").val($('#PermitArea').val() + "." + $('#PermitController').val() + "." + $('#PermitName').val());
		}

		function CapitalizeFirstLetter(string) {
			return string.charAt(0).toUpperCase() + string.slice(1);
		}
	</script>
}